html {
    background-image: url(../media/backdrop-alt.png);
}
.container {
    position: relative;
    margin: auto;
}
h1, h2 {
    text-transform: uppercase;
}
h1 {
    font-family: var(--goth);
}
h2 {
    font-family: var(--goth);
    margin-top: -20px;
    font-weight: normal;
}